VITE_AUTH_SERVICE_URL=http://localhost:8081/api/auth
VITE_INCIDENT_SERVICE_URL=http://localhost:8083
VITE_PERSONNEL_SERVICE_URL=http://localhost:8084
VITE_SHELTER_SERVICE_URL=http://localhost:8085
VITE_MISSION_SERVICE_URL=http://localhost:8086
VITE_ASSESSMENT_SERVICE_URL=http://localhost:8087
VITE_TASK_SERVICE_URL=http://localhost:8088/api/v1/tasks
VITE_RESOURCE_SERVICE_URL=http://localhost:8089
