server:
  port: 8086

spring:
  application:
    name: logistics-service


  datasource:
    url: jdbc:postgresql://ep-little-sky-ai5kiu27-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
    username: neondb_owner
    password: npg_OHu1ViXpNQ9o
    driver-class-name: org.postgresql.Driver

  # jpa
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # rabbitmq
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest