server:
  port: 8087

spring:
  application:
    name: assessment-service
  datasource:
    url: jdbc:postgresql://neondb_owner:npg_wp8Te4WSLvGP@ep-morning-dust-ai82f4ju-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_wp8Te4WSLvGP
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin123
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

# File upload settings
file:
  upload-dir: ./uploads

# Logging
logging:
  level:
    root: INFO
    com.disa: DEBUG
