server:
  port: 8085

spring:
  application:
    name: shelter-service
  datasource:
    url: jdbc:postgresql://ep-wild-wind-aizayxci-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
    username: neondb_owner
    password: npg_n6CPuiUJ1AXw
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin123
    listener:
      simple:
        auto-startup: false
        missing-queues-fatal: false
